*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background:#000;
}
.scene{
  margin:250px auto;
  perspective: 1000px;

  width: 200px;
  height: 200px;

}
.cube {
  transform-style: preserve-3d;
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  animation: loop 10s linear infinite;

}
.cube img{
  width:200px;
  height:200px;
  position: absolute;
  opacity: 0.8;
}

.cube img:nth-child(1){
  transform: rotateY(0deg) translateZ(100px);

}
.cube img:nth-child(2){
  transform: rotateY(180deg) translateZ(100px);


}
.cube img:nth-child(3){
  transform: rotateY(-90deg) translateX(-100px);
  transform-origin: left;
}
.cube img:nth-child(4){
  transform: rotateY(90deg) translateX(100px);
  transform-origin: right;

}
.cube img:nth-child(5){
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top;

}
.cube img:nth-child(6){
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom;

}

@keyframes loop {
  from{
    transform:  rotateY(0deg) rotateX(90deg);
  }
  to{
    transform:  rotateY(360deg) rotateX(0deg);
  }
}
